# replace localhost with your public domain name
localhost

# covid notebooks only
reverse_proxy /covid* covid:8888

# other notebooks only
reverse_proxy /other* other:8888

root * /usr/share/caddy
file_server